{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} TODO LIST {% endblock %}</h1>
    {% for item in items %}
        <a href="{{ url_for('item', item_id=item['id']) }}">
            <span>{{ item['title'] }}</span>
        </a>
        <p></p>
        <span class="badge badge-primary">Added: {{ item['created'] }}</span>
        <a href="{{ url_for('edit', item_id=item['id']) }}">
            <span class="badge badge-primary">Edit</span>
        </a>
        <hr/>
    {% endfor %}
{% endblock %}